extends layout

block content
  app-home-page
  //- h1.mt-4.display-3
  //-   span.font-weight-bold.display-3(style="color:red") D
  //-   span.display-4 ish
  //-   span.display-3.font-weight-bold(style="color:red") D
  //-   span.display-4 elivery
  //- h4 Welcome to #{title}
  //- .container.content
  //-   img(src='./images/Are-you-hungry.png' alt='Are-you-hungry' style='width:inherit; max-height:500px;')
  //-   a(class='btn btn-warning btn-lg col-md-2 mt-5' href='/list') 
  //-     span.h5.font-weight-bold Continue 