<h1 class="mt-4 display-3">
    <span class="font-weight-bold display-3" style="color:red">D</span>
    <span class="display-4">ish</span>
    <span class="display-3 font-weight-bold" style="color:red">D</span>
    <span class="display-4">elivery</span>
</h1>

<h4>Welcome to DishDelivery</h4>

<div class="container content">
    <img src="../../assets/images/Are-you-hungry.png" alt="Are-you-hungry" style="width:inherit; max-height:500px;" />
    <a class="btn btn-warning btn-lg col-md-2 mt-5" href="/list">
        <span class="h5 font-weight-bold">Continue </span>
    </a>
</div>